current_workflow_export_fixed.json
[{"updatedAt": "2026-04-07T01:08:31.396Z", "createdAt": "2026-04-07T00:35:41.356Z", "id": "megnetF0ulMyvR4B", "name": "AI Support Ticket Processing - Part 1 (Enhanced)", "description": null, "active": false, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "support-ticket", "responseMode": "lastNode", "options": {}}, "id": "31b9e73f-a898-457b-8d7b-02cfcb137602", "name": "Webhook — Receive Ticket", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-2784, 208], "webhookId": "3c1cd9c0-65c5-48e0-95d9-da3243fb3a07"}, {"parameters": {"keepOnlySet": true, "values": {"string": [{"name": "name", "value": "={{$json.body.name}}"}, {"name": "email", "value": "={{$json.body.email}}"}, {"name": "subject", "value": "={{$json.body.subject}}"}, {"name": "message", "value": "={{$json.body.message}}"}, {"name": "attachment_filename", "value": "={{$json.body.attachment?.filename || ''}}"}, {"name": "attachment_text", "value": "={{$json.body.attachment?.content || ''}}"}]}, "options": {}}, "id": "4e4a9635-56ec-4f45-87ba-dcee42264dd2", "name": "Set — Normalize Input", "type": "n8n-nodes-base.set", "typeVersion": 2, "position": [-2480, 224]}, {"parameters": {"functionCode": "// Validate email format properly\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nconst errors = [];\nif (!$json.name || $json.name.trim() === '') {\n  errors.push('Name is required');\n}\nif (!$json.email || !emailRegex.test($json.email)) {\n  errors.push('Valid email is required');\n}\nif (!$json.subject || $json.subject.trim() === '') {\n  errors.push('Subject is required');\n}\nif (!$json.message || $json.message.trim() === '') {\n  errors.push('Message body is required');\n}\n\nif (errors.length > 0) {\n  throw new Error(errors.join('; '));\n}\n\nreturn [{\n  json: {\n    ...$json,\n    validation_passed: true\n  }\n}];"}, "id": "e6b0bff9-d515-46df-8221-1f3f7337469d", "name": "Function — Validate Input", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-2208, 240]}, {"parameters": {"functionCode": "// Handle optional PDF attachment text if provided by upstream systems.\nconst attachment_filename = ($json.attachment_filename || '').trim();\nconst attachment_text = ($json.attachment_text || '').trim();\n\nlet processing_log = [];\nlet fulltext = $json.message || '';\n\nif (attachment_filename) {\n  if (attachment_text) {\n    fulltext = `${fulltext}\\n\\n[Attachment: ${attachment_filename}]\\n${attachment_text}`;\n    processing_log.push('attachment_text_appended');\n  } else {\n    // Bonus requirement fallback: continue without attachment text if extraction failed/unavailable.\n    processing_log.push(`attachment_present_but_no_text:${attachment_filename}`);\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    attachment_filename,\n    attachment_text,\n    fulltext,\n    processing_log\n  }\n}];"}, "id": "2bf537cf-6448-403d-95da-9cee3fc02378", "name": "Function — Process Attachment", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-2000, 240]}, {"parameters": {"functionCode": "const id = 'TCK-' + Date.now();\n\nreturn [{\n  json: {\n    ...$json,\n    ticket_id: id,\n    timestamp: new Date().toISOString(),\n    status: 'processing'\n  }\n}];"}, "id": "aeb96131-5181-45f7-b17d-4f787fe20ce4", "name": "Function — Generate Ticket ID", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-1616, 32]}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a professional support ticket classifier. Analyze the ticket and return ONLY a valid JSON object (no markdown, no extra text) with these exact fields:\n{\n  \"category\": \"technical|billing|feature_request|general|other\",\n  \"urgency\": \"critical|high|medium|low\",\n  \"sentiment\": \"positive|neutral|negative|angry\",\n  \"confidence\": 0.85,\n  \"summary\": \"Brief one-line summary\"\n}\nCritical: System down, data loss, security issue, or extreme frustration.\nHigh: Significant functionality broken, major workflow blocked.\nMedium: Non-critical feature not working or significant inconvenience.\nLow: General inquiry, feature request, minor issue."}, {"content": "Subject: {{$json.subject}}\n\nMessage:\n{{$json.fulltext}}"}]}, "options": {}}, "id": "57da9456-d652-4bdd-ade2-940f1e36cfdd", "name": "OpenAI — Classify Ticket (Step 1)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [-1872, -112], "credentials": {"openAiApi": {"id": "xCspeC8BQyyPIURB", "name": "OpenAI account"}}}, {"parameters": {"functionCode": "let classification;\n\nfunction collectStrings(value, out) {\n  if (value === null || value === undefined) return;\n  if (typeof value === \"string\") {\n    out.push(value);\n    return;\n  }\n  if (Array.isArray(value)) {\n    for (const item of value) collectStrings(item, out);\n    return;\n  }\n  if (typeof value === \"object\") {\n    for (const key of Object.keys(value)) collectStrings(value[key], out);\n  }\n}\n\ntry {\n  const textCandidates = [];\n  collectStrings($json, textCandidates);\n\n  let parsed = null;\n  let rawExtract = \"\";\n\n  for (const candidate of textCandidates) {\n    const match = String(candidate).match(/\\{[\\s\\S]*\\}/);\n    if (!match) continue;\n\n    try {\n      parsed = JSON.parse(match[0]);\n      rawExtract = match[0];\n      break;\n    } catch (e) {\n      // Try next candidate\n    }\n  }\n\n  if (!parsed) {\n    throw new Error(\"No JSON object found in AI response\");\n  }\n\n  classification = parsed;\n\n  const required = [\"category\", \"urgency\", \"sentiment\", \"confidence\", \"summary\"];\n  for (const field of required) {\n    if (!(field in classification)) {\n      throw new Error(`Missing required field: ${field}`);\n    }\n  }\n\n  const validUrgencies = [\"critical\", \"high\", \"medium\", \"low\"];\n  classification.urgency = String(classification.urgency || \"\").toLowerCase();\n\n  if (!validUrgencies.includes(classification.urgency)) {\n    throw new Error(`Invalid urgency: ${classification.urgency}`);\n  }\n\n  classification.category = String(classification.category || \"other\").toLowerCase();\n  classification.sentiment = String(classification.sentiment || \"neutral\").toLowerCase();\n  classification.confidence = Number(classification.confidence);\n\n  if (\n    Number.isNaN(classification.confidence) ||\n    classification.confidence < 0 ||\n    classification.confidence > 1\n  ) {\n    throw new Error(`Invalid confidence score: ${classification.confidence}`);\n  }\n\n  return [\n    {\n      json: {\n        ...$json,\n        ...classification,\n        ai_validation_passed: true,\n        ai_response_raw: rawExtract\n      }\n    }\n  ];\n} catch (e) {\n  throw new Error(`AI Output Validation Error: ${e.message}`);\n}"}, "id": "7b1cbc04-bce8-4525-8ed0-f65eef6a6c97", "name": "Function — Validate Classification", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-1392, 32]}, {"parameters": {"operation": "embedding"}, "id": "9a64cde4-dcd8-4506-a3d1-7442f5e217d2", "name": "OpenAI — Create Embedding", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [-1424, 720], "credentials": {"openAiApi": {"id": "xCspeC8BQyyPIURB", "name": "OpenAI account"}}}, {"parameters": {"url": "={{($env.QDRANT_URL || 'http://localhost:6333') + '/collections/support_ticket/points/search'}}", "jsonParameters": true, "options": {}}, "id": "a6c6906c-f7f0-4d20-93a2-b42ee64cc60d", "name": "HTTP Request — Search Qdrant", "type": "n8n-nodes-base.httpRequest", "typeVersion": 2, "position": [-1088, 160], "continueOnFail": true}, {"parameters": {"functionCode": "// Process Qdrant results and compute retrieval confidence.\nconst rawResults =\n  ($json.result && $json.result.result) ||\n  ($json.result && Array.isArray($json.result) ? $json.result : null) ||\n  ($json.error ? [] : []);\n\nconst threshold = Number($env.RETRIEVAL_SCORE_THRESHOLD || 0.6);\nconst results = Array.isArray(rawResults) ? rawResults : [];\nconst knowledge_sources = [];\nlet knowledge_context = '';\n\nif (results.length > 0) {\n  knowledge_context = 'Relevant knowledge base articles:\\n\\n';\n  for (let i = 0; i < results.length; i++) {\n    const item = results[i] || {};\n    const payload = item.payload || {};\n    const source = payload.source || 'Unknown';\n    const content = payload.content || '';\n    const score = Number(item.score || 0);\n\n    knowledge_sources.push({ source, score });\n    knowledge_context += `[${i + 1}] Source: ${source} (Relevance: ${(score * 100).toFixed(1)}%)\\n`;\n    knowledge_context += `${String(content).substring(0, 350)}...\\n\\n`;\n  }\n} else {\n  knowledge_context = 'No specific knowledge base articles found.';\n}\n\nconst retrieval_score = knowledge_sources.length > 0 ? Number(knowledge_sources[0].score || 0) : 0;\nconst retrieval_low_confidence = retrieval_score < threshold;\n\nconst existingLog = Array.isArray($json.processing_log) ? $json.processing_log : [];\nconst processing_log = [\n  ...existingLog,\n  `knowledge_chunks:${knowledge_sources.length}`,\n  `retrieval_score:${retrieval_score.toFixed(4)}`,\n  `retrieval_low_confidence:${retrieval_low_confidence}`\n];\n\nreturn [{\n  json: {\n    ...$json,\n    knowledge_context,\n    knowledge_sources,\n    retrieval_score,\n    retrieval_low_confidence,\n    processing_log\n  }\n}];"}, "id": "0610e417-d4a4-42c7-b564-58d1840ee232", "name": "Function — Process Knowledge Results", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-800, 208]}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a professional customer support specialist. Generate a helpful, professional draft response based on ticket analysis and retrieved knowledge.\n\nRules:\n1. Match tone to customer sentiment.\n2. Reference relevant knowledge chunks using [1], [2], [3] when available.\n3. Be concise but actionable.\n4. If retrieval is low confidence, include this exact line once: 'No specific policy found — this response is based on general knowledge.'\n5. Do NOT send this email. This is an internal draft only.\n6. End with: 'This is a draft response pending support team review.'"}, {"content": "Customer Name: {{$json.name}}\nTicket ID: {{$json.ticket_id}}\nSubject: {{$json.subject}}\nMessage: {{$json.message}}\n\nClassification:\n- Category: {{$json.category}}\n- Urgency: {{$json.urgency}}\n- Sentiment: {{$json.sentiment}}\n- Confidence: {{$json.confidence}}\n\nRetrieval:\n- Top score: {{$json.retrieval_score}}\n- Low confidence retrieval: {{$json.retrieval_low_confidence}}\n\nKnowledge Base Context:\n{{$json.knowledge_context}}\n\nGenerate a professional draft response:"}]}, "options": {}}, "id": "94f9ba34-11f0-462f-8b0f-3b91692e524d", "name": "OpenAI — Generate Draft Response (Step 2)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [-608, -128], "credentials": {"openAiApi": {"id": "xCspeC8BQyyPIURB", "name": "OpenAI account"}}}, {"parameters": {"functionCode": "const aiDraft = $json.message || $json.text || $json.output || $json.content || '';\n\nlet status = 'normal';\nlet needs_review = false;\nif (Number($json.confidence || 0) < 0.6) {\n  status = 'needs-manual-review';\n  needs_review = true;\n}\n\nconst existingLog = Array.isArray($json.processing_log) ? $json.processing_log : [];\nconst processing_log = [\n  ...existingLog,\n  `ai_confidence:${Number($json.confidence || 0).toFixed(4)}`,\n  `status:${status}`\n];\n\nreturn [{\n  json: {\n    ...$json,\n    status,\n    needs_manual_review: needs_review,\n    draft_response: aiDraft,\n    processing_log\n  }\n}];"}, "id": "a37a2ae4-4aff-455a-aaf9-69adeaadbf48", "name": "Function — Set Status & Flag", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [-400, 208]}, {"parameters": {}, "id": "b9d5b82b-6298-4345-b28b-33e5dabab790", "name": "IF — Critical or High Urgency", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [-208, 112]}, {"parameters": {}, "id": "de7dc23d-8a2b-4e41-8414-0e8c18d64598", "name": "IF — Medium Urgency", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [0, 240]}, {"parameters": {"fromEmail": "souryaovgu2024@gmail.com", "toEmail": "souryashome2000@gmail.com", "subject": "Urgent Support Ticket {{$json.ticket_id}}: {{$json.subject}}", "options": {}}, "id": "fba278a7-1239-4f47-afa5-9b04ff32d4ae", "name": "Send Email — High Priority Alert", "type": "n8n-nodes-base.emailSend", "typeVersion": 1, "position": [0, 0], "credentials": {"smtp": {"id": "dlZDAoVY6PWJYPAe", "name": "SMTP account"}}}, {"parameters": {"fromEmail": "support@company.com", "toEmail": "{{$json.email}}", "subject": "Support Ticket {{$json.ticket_id}}: {{$json.subject}}", "options": {}}, "id": "1054940e-007b-4b58-989c-9ff881040ff1", "name": "Send Email — Medium Priority Summary", "type": "n8n-nodes-base.emailSend", "typeVersion": 1, "position": [208, 160], "credentials": {"smtp": {"id": "dlZDAoVY6PWJYPAe", "name": "SMTP account"}}}, {"parameters": {"functionCode": "const processing_log = Array.isArray($json.processing_log) ? $json.processing_log.join(' | ') : '';\n\nreturn [{\n  json: {\n    ticket_id: $json.ticket_id,\n    timestamp: $json.timestamp,\n    name: $json.name,\n    email: $json.email,\n    subject: $json.subject,\n    category: $json.category,\n    urgency: $json.urgency,\n    sentiment: $json.sentiment,\n    confidence: $json.confidence,\n    ai_summary: $json.summary,\n    draft_response: $json.draft_response,\n    knowledge_sources: JSON.stringify($json.knowledge_sources || []),\n    status: $json.status,\n    processing_log\n  }\n}];"}, "id": "96d57513-0fb4-439a-ac1e-22258f85ada3", "name": "Function — Prepare Sheet Row", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [400, 208]}, {"parameters": {"operation": "append", "sheetId": "{{env.GOOGLE_SHEETS_ID}}", "range": "Sheet1", "options": {}}, "id": "b0072173-8aae-42af-a02c-d3ac4b8baa6e", "name": "Google Sheets — Log Ticket", "type": "n8n-nodes-base.googleSheets", "typeVersion": 2, "position": [608, 208], "credentials": {"googleSheetsOAuth2Api": {"id": "DYoFtUosNtC07pSc", "name": "Google Sheets account"}}}, {"parameters": {"options": {}}, "id": "a0bf82e9-0780-4a68-aee6-b15e8f446a73", "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [800, 208]}, {"parameters": {"options": {}}, "id": "5934f5e9-6d9a-4203-acaf-89a34d59e183", "name": "Respond to Webhook — Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [800, 400]}, {"parameters": {"operation": "append", "sheetId": "{{env.GOOGLE_SHEETS_ID}}", "range": "ErrorLog", "options": {}}, "id": "dffe5610-8de5-4fd9-b77b-0d272da48cc0", "name": "Google Sheets — Log Error", "type": "n8n-nodes-base.googleSheets", "typeVersion": 2, "position": [608, 400], "credentials": {"googleSheetsOAuth2Api": {"id": "DYoFtUosNtC07pSc", "name": "Google Sheets account"}}}], "connections": {"Webhook — Receive Ticket": {"main": [[{"node": "Set — Normalize Input", "type": "main", "index": 0}]]}, "Set — Normalize Input": {"main": [[{"node": "Function — Validate Input", "type": "main", "index": 0}]]}, "Function — Validate Input": {"main": [[{"node": "Function — Process Attachment", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Function — Process Attachment": {"main": [[{"node": "Function — Generate Ticket ID", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Function — Generate Ticket ID": {"main": [[{"node": "OpenAI — Classify Ticket (Step 1)", "type": "main", "index": 0}]]}, "OpenAI — Classify Ticket (Step 1)": {"main": [[{"node": "Function — Validate Classification", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Function — Validate Classification": {"main": [[{"node": "OpenAI — Create Embedding", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "OpenAI — Create Embedding": {"main": [[{"node": "HTTP Request — Search Qdrant", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "HTTP Request — Search Qdrant": {"main": [[{"node": "Function — Process Knowledge Results", "type": "main", "index": 0}]]}, "Function — Process Knowledge Results": {"main": [[{"node": "OpenAI — Generate Draft Response (Step 2)", "type": "main", "index": 0}]]}, "OpenAI — Generate Draft Response (Step 2)": {"main": [[{"node": "Function — Set Status & Flag", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Function — Set Status & Flag": {"main": [[{"node": "IF — Critical or High Urgency", "type": "main", "index": 0}]]}, "IF — Critical or High Urgency": {"main": [[{"node": "Send Email — High Priority Alert", "type": "main", "index": 0}], [{"node": "IF — Medium Urgency", "type": "main", "index": 0}]]}, "IF — Medium Urgency": {"main": [[{"node": "Send Email — Medium Priority Summary", "type": "main", "index": 0}], [{"node": "Function — Prepare Sheet Row", "type": "main", "index": 0}]]}, "Send Email — High Priority Alert": {"main": [[{"node": "Function — Prepare Sheet Row", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Send Email — Medium Priority Summary": {"main": [[{"node": "Function — Prepare Sheet Row", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Function — Prepare Sheet Row": {"main": [[{"node": "Google Sheets — Log Ticket", "type": "main", "index": 0}, {"node": "Google Sheets — Log Error", "type": "main", "index": 0}]]}, "Google Sheets — Log Ticket": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}, {"node": "Respond to Webhook — Error", "type": "main", "index": 0}]]}, "Google Sheets — Log Error": {"main": [[{"node": "Respond to Webhook — Error", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": null, "meta": {"templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "ed4087e0-b405-40b2-991e-614a571b4782", "activeVersionId": null, "versionCounter": 25, "triggerCount": 0, "tags": [], "shared": [{"updatedAt": "2026-04-07T00:35:41.361Z", "createdAt": "2026-04-07T00:35:41.361Z", "role": "workflow:owner", "workflowId": "megnetF0ulMyvR4B", "projectId": "3BWKzbJPuaDtOO2B", "project": {"updatedAt": "2026-04-07T00:34:34.787Z", "createdAt": "2026-04-07T00:19:13.075Z", "id": "3BWKzbJPuaDtOO2B", "name": "Sourya Shome <souryaovgu2024@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "52cfb7a4-8702-4e50-8065-b41877583dc2"}}], "versionMetadata": {"name": null, "description": null}}]